@import url(https://fonts.googleapis.com/css?family=Roboto);
@keyframes loaderSpin {
  /* line 3, ../scss/_animations.scss */
  from {
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg); }

  /* line 8, ../scss/_animations.scss */
  to {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg); } }
/************************************************
	FORM STYLES
************************************************/
/* line 6, ../scss/_form.scss */
.form-container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  width: 100%;
  z-index: 10;
  top: 90%;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transition: top 1s;
  transition: top 1s; }
  /* line 22, ../scss/_form.scss */
  .form-container .col-md-3 {
    margin: 0 auto; }
  /* line 30, ../scss/_form.scss */
  .form-container .selector-container .form-control {
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    height: 40px; }
    /* line 36, ../scss/_form.scss */
    .form-container .selector-container .form-control:focus {
      border: none;
      box-shadow: none; }
  /* line 47, ../scss/_form.scss */
  .form-container .corner-container .form-control {
    height: 74px;
    font-family: "Roboto", sans-serif;
    font-size: 3em;
    border: none; }
    /* line 53, ../scss/_form.scss */
    .form-container .corner-container .form-control:focus {
      border: 1px solid #F5DC56;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(245, 220, 86, 0.6);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(245, 220, 86, 0.6); }
  /* line 68, ../scss/_form.scss */
  .form-container .left-container .left-corner label {
    float: right; }
  /* line 73, ../scss/_form.scss */
  .form-container .left-container .left-corner .form-control {
    text-align: right; }
  /* line 86, ../scss/_form.scss */
  .form-container .right-container .right-corner label {
    float: left; }
  /* line 97, ../scss/_form.scss */
  .form-container .vs-container {
    text-align: center; }
    /* line 101, ../scss/_form.scss */
    .form-container .vs-container .vs-btn {
      font-family: "Roboto", sans-serif;
      font-size: 3em;
      width: 100%;
      height: 80px;
      border: none;
      background: rgba(255, 255, 255, 0);
      padding: 0 20% 0 20%; }
      /* line 111, ../scss/_form.scss */
      .form-container .vs-container .vs-btn > .submit-img {
        -webkit-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
        -ms-transform: scale(1);
        /* IE 9 */
        webkit-transform: scale(1);
        /* Safari */
        transform: scale(1); }
      /* line 119, ../scss/_form.scss */
      .form-container .vs-container .vs-btn > .loader {
        animation: loaderSpin 1s linear infinite; }
      /* line 123, ../scss/_form.scss */
      .form-container .vs-container .vs-btn:hover > .submit-img {
        -webkit-backface-visibility: hidden;
        -ms-transform: scale(0.9);
        /* IE 9 */
        webkit-transform: scale(0.9);
        /* Safari */
        transform: scale(0.9); }
      /* line 138, ../scss/_form.scss */
      .form-container .vs-container .vs-btn:active, .form-container .vs-container .vs-btn:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none; }

/**************************************
	CHARACTER RESULTS STYLES
**************************************/
/* line 6, ../scss/_results.scss */
.profile-characters {
  display: none; }
  /* line 10, ../scss/_results.scss */
  .profile-characters .character {
    background: rgba(122, 122, 122, 0.5);
    padding: 10px;
    margin-bottom: 4px; }
    /* line 15, ../scss/_results.scss */
    .profile-characters .character:hover {
      background: rgba(20, 20, 20, 0.7);
      cursor: pointer; }
    /* line 20, ../scss/_results.scss */
    .profile-characters .character:focus, .profile-characters .character:active {
      background: rgba(20, 20, 20, 0.9);
      cursor: pointer; }
    /* line 26, ../scss/_results.scss */
    .profile-characters .character img {
      float: left; }
    /* line 31, ../scss/_results.scss */
    .profile-characters .character span.char-class {
      font-size: 2em;
      font-family: "Roboto", sans-serif;
      float: left;
      padding-left: 10px;
      text-transform: uppercase;
      color: #FFF; }
    /* line 40, ../scss/_results.scss */
    .profile-characters .character span.char-light-level {
      float: right;
      font-size: 2em;
      color: #f5dc56; }
      /* line 45, ../scss/_results.scss */
      .profile-characters .character span.char-light-level .light-icon {
        padding-top: 5px; }
  /* line 51, ../scss/_results.scss */
  .profile-characters .help-text {
    font-size: 1.5em;
    color: #FFF;
    text-align: center;
    background: rgba(42, 51, 62, 0.9); }
    /* line 57, ../scss/_results.scss */
    .profile-characters .help-text .stat-lg-text {
      vertical-align: middle;
      padding-left: 10px; }

/**************************************
	CHARACTER RESULTS STYLES
**************************************/
/* line 5, ../scss/_stats.scss */
.character-stats {
  display: none; }
  /* line 8, ../scss/_stats.scss */
  .character-stats .stat-cat {
    padding: 0; }
    /* line 11, ../scss/_stats.scss */
    .character-stats .stat-cat .lg-stat {
      height: 90px; }
    /* line 15, ../scss/_stats.scss */
    .character-stats .stat-cat .stat-wrapper {
      margin: 2px;
      padding: 5px;
      text-align: center;
      background: rgba(20, 20, 20, 0.5);
      color: #FFF; }
      /* line 22, ../scss/_stats.scss */
      .character-stats .stat-cat .stat-wrapper:hover {
        background: rgba(20, 20, 20, 0.7);
        cursor: pointer; }
      /* line 27, ../scss/_stats.scss */
      .character-stats .stat-cat .stat-wrapper:focus, .character-stats .stat-cat .stat-wrapper:active {
        background: rgba(20, 20, 20, 0.9);
        cursor: pointer; }
      /* line 32, ../scss/_stats.scss */
      .character-stats .stat-cat .stat-wrapper .stat-lg-text {
        font-size: 3em; }
      /* line 36, ../scss/_stats.scss */
      .character-stats .stat-cat .stat-wrapper .stat-md-text {
        font-size: 1.5em; }
      /* line 40, ../scss/_stats.scss */
      .character-stats .stat-cat .stat-wrapper .stat-sm-text {
        margin: 0 auto; }
      /* line 48, ../scss/_stats.scss */
      .character-stats .stat-cat .stat-wrapper .winner-green {
        background: rgba(69, 191, 85, 0.7); }
    /* line 53, ../scss/_stats.scss */
    .character-stats .stat-cat .return-tab {
      background: rgba(255, 29, 35, 0.5); }
      /* line 56, ../scss/_stats.scss */
      .character-stats .stat-cat .return-tab:hover {
        background: rgba(255, 29, 35, 0.7);
        cursor: pointer; }
      /* line 61, ../scss/_stats.scss */
      .character-stats .stat-cat .return-tab:focus, .character-stats .stat-cat .return-tab:active {
        background: rgba(255, 29, 35, 0.9);
        cursor: pointer; }
      /* line 66, ../scss/_stats.scss */
      .character-stats .stat-cat .return-tab .return-text {
        vertical-align: top; }
    /* line 71, ../scss/_stats.scss */
    .character-stats .stat-cat .stat-sm {
      height: 70px; }
    /* line 76, ../scss/_stats.scss */
    .character-stats .stat-cat .margin-top-remover {
      margin-top: 0; }
    /* line 80, ../scss/_stats.scss */
    .character-stats .stat-cat .margin-top {
      margin-top: 1px; }
    /* line 84, ../scss/_stats.scss */
    .character-stats .stat-cat .margin-left-remover {
      margin-left: 0; }
    /* line 88, ../scss/_stats.scss */
    .character-stats .stat-cat .margin-right-remover {
      margin-right: 0; }

/* line 8, ../scss/styles.scss */
body {
  background: #2A333E;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/* line 16, ../scss/styles.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative; }
