/************************************************
	FORM STYLES
************************************************/

//Form Container
.form-container {
	padding: 380px 0 0 60px;
	margin: 0 auto;
	max-width: 1200px;

	//Individual Form Container
	.col-md-3 {
		margin: 0 auto;
	}

	//Input Containers
	.corner-container {

		//General Corner Input
		.form-control {
			height: 74px;
			font-family: $roboto;
			font-size: 3em;
			border: none;
		}
	}

	//Left Form Container
	.left-container {
		margin-left: 18px;

		//Left Corner Contaienr
		.left-corner {

			//Left Corner Label
			label {
				float: right;
			}

			//Left Corner Input
			.form-control {
				text-align: right;

				&:focus {
					border: 1px solid #ED0100;
					box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(237,1,0,.6);
					-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(237,1,0,.6);
				}
			}
		}
	}

	//Right Form Container
	.right-container {

		//Right Corner Container
		.right-corner {

			//Right Corner Label
			label {
				float: left;
			}

			.form-control {

				&:focus {
					border: 1px solid #0C4EC4;
					box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(12,78,196,.6);
					-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(12,78,196,.6);
				}
			}
		}
	}

	//Form Submit Container
	.vs-container {
		text-align: center;
		
		//Submit Button
		.vs-btn {
			font-family: $roboto;
			font-size: 3em;
			width: 50%;
			border: none;
			background: none;

			&:hover {
				background: #E8E8E8;
			}

			&:active {
				background: #D6D6D6;
			}

			&:active, &:focus {
				-webkit-box-shadow: none;
    			box-shadow: none;
    			outline: none;
			}
		}
	}
}